@{
    ViewData["Title"] = "Home Page";
}
@model LoginViewModel

<div class="cardUI">
    <h1 class="display-4">Welcome to The Casino App</h1>
    <p>Squeezing pockets dry since 1638</p>
    <br />
    <form class="leaderUI" asp-action="Login">
        <h1 class="display-4">Login</h1>
    <input type="submit" /></form>

</div>
